body{
	
}


/* Links */
a.navLink:link, a.navLink:visited, a.navLink:active {
	color:				inherit;
	text-decoration:	none;
}

a.userControlPanelLink:link, a.userControlPanelLink:visited, a.userControlPanelLink:active {
	color:				#888;
	font-weight:		normal;
}

a.forgotPassword:link, a.forgotPassword:visited, a.forgotPassword:active {
	color:				#888;
	font-weight:		normal;
}

a:link, a:visited, a:active{
	color:           	#08b;
	font-weight:     	bold;
	text-decoration: 	none;
}


/* Main - this is basically the body and all standard elements.
Placed at the top of the file for convenience.*/
.main{
	background:			#fff;
	color:	        	#333;
	font-family:		helvetica, sans-serif;
	font-size:			16pt;
	margin:				0px;
	word-wrap:			break-word;
}

.main .articleDate{
	color:				#888;
	font-size:			16px;
	font-weight:		normal;
	margin:				0px 0px 0px 0px;
}

.main .bracketize:before{
	content:			"[ ";
}

.main .bracketize:after{
	content:			" ]";
}

.main .articleHeader, .main .articleHeader a{
	color:				#333;
	font-size:			36pt;
	font-weight:		bold;
}

.main .articleHeader a:hover{
	text-decoration:	underline;
}

.main .content{
	border-right:		2px solid #333;
	margin:				0px 280px 0px auto;
	min-height:			340px;
	padding:			0px 30px 0px 15px;
}

.main .pageSizeConstrain{
	max-width:			1200px;
	min-width:			780px;
}


.main .rollover:hover{
	color:				#09c;	
}

.main .userNameDisplay{
	color:				#888;
	font-size:			24px;
	font-weight:		normal;
	margin:				20px 0px 0px 20px;	
}



/* Footer */
.footer{
	/*border-top:			2px solid #333;*/
	color:				#333;
	/*margin:				20px 0px 0px 0px;*/
	margin:				0px auto 0px auto;
	padding:			7px 7px 7px 0px;
}

.footer p{
	font-size:			20pt;
	margin:				0px;
	text-align:			right;
}

.footer .atomLink{
	font-size:			20pt;
	float:				left;
	margin:				0px 0px 0px 7px;
}



/* The main feed (homepage) */
.mainFeed .postContainer{
	display:			block;
	border-bottom:		2px solid #333333;
	margin:				0px 0px 24px 0px;
}

.mainFeed .blacklistButton{
	background:			inherit;
	border:				none;
	color:				#888;
	font-size:			18px;
	margin:				0px auto 20px 0px;
}

.mainFeed .controlPanel{
	letter-spacing:		.75px;
	margin:				0px 0px 14px 0px;
	text-align:			right;
}





/* Main title for the site */
.mainTitleContainer{
	color:				#888;
	padding:			15px 0px 40px 0px;
	text-align:			right;
}

.mainTitleContainer .title{
	display:			block;
	font-size:			40pt;
	font-weight:		bold;
	margin:				0px 30px 0px auto;
}

.mainTitleContainer .title:before{
	content:			"[ ";	
}

.mainTitleContainer .title:after{
	content:			" ]";	
}



.titleAndContentContainer{
	border-bottom:		solid 2px #333;
	margin: 			0px auto 0px auto;
	/*max-width:			1200px;
	min-width:			780px;*/
	padding:			0px 0px 20px 0px;
}



/* Navigation panel */
.navPanel{
	float:				right;
	min-height:			100px;
	width:				260px;	
}

/*.navPanel .navPanelElement{
	display:			block;
	font-size:			45pt;
	font-weight:		bold;
}*/

.navPanel li{
	display:			block;
	font-size:			45pt;
	font-weight:		bold;
}

/* Page-forward button */
.paginationButton{
	background:			inherit;
	border:				none;
	display:			block;
	font-size:			72px;
	height:				72px;
	margin:				40px 0px 0px 0px;
}

.paginationButton .paginationButtonMore{
	background:			inherit;
	border:				inherit;
	float:				right;
	font-size:			inherit;
	font-weight:		bold;
}

.paginationButton .disabled, .paginationButton .disabled:link, .paginationButton .disabled:visited, .paginationButton .disabled:active, .paginationButton .disabled:hover{
	color:				#777;	
}